<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Charts.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.CodeParser" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Data" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Data.Desktop" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.DataAccess" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.DataVisualization.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Diagram.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Gauges.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Images" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Mvvm" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Office.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Pdf.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Pdf.Drawing" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.PivotGrid.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Printing.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Reporting.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.RichEdit.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.RichEdit.Export" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Sparkline.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Utils" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Charts" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Diagram" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Grid" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Grid.Core" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Layout" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Navigation" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Office" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.PivotGrid" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Printing" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.PropertyGrid" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Reporting" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.RichEdit" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="20.2.7" targetFramework="net471" />
  <package id="DevExpress.Xpf.Themes.WhiteAndBlack.v20.2" version="3.0.2107.12348" targetFramework="net471" />
  <package id="DevExpress.Xpo" version="20.2.7" targetFramework="net471" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net471" />
  <package id="PerkinElmer.CustomControls" version="3.0.2107.18380" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="WpfAnimatedGif" version="2.0.0" targetFramework="net471" />
</packages>